html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
/* NAV START */
nav {
  height: 120px;
  background: #17408b;
}

.nav-container {
  width: 1024px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.nav-options {
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
}

.nav-options::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: orange;
  transition: width 0.25s ease-out;
}

.nav-options:hover::before {
  width: 100%;
}

.nav-options-image {
  margin-top: 4px;
}

/* NAV END */

/* SCORES */

.scores {
  height: 100px;
  width: 100%;
}

.score-boxes {
  display: flex;
  justify-content: space-between;
}

.box-score {
  width: 310px;
  height: 90px;
  margin-top: 5px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.winner,
.loser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-logo {
  width: 40px;
  padding-left: 20px;
}

.team-name-box,
.points-box {
  font-size: 14px;
  font-weight: bold;
}

.points-box {
  margin-right: 20px;
}

.loser-opc {
  opacity: 0.6;
}

/* END SCORES */

/* LANDING */

header {
  background: url("./images/wall.jpg") top/cover no-repeat;
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.main-text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  width: 450px;
}

.subtitle {
  font-size: 24px;
  color: #ffffff;
  width: 430px;
  padding: 40px 0;
}

.main-button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 50px;
  background: #17408b;
  border: 3px solid #17408b;
  border-radius: 10px;
  transition: background-color 0.5s ease-out;
}

.main-button:hover {
  color: #17408b;
  background: #ffffff;
  border: 3px solid #17408b;
}

.buttons {
  display: flex;
  gap: 20px;
}

/* END LANDING */

/* PLayers */

.player-container {
  width: 1024px;
  margin: 0 auto;
}

.our-players {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.player-box {
  width: 236px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
}

.player-back {
  background: #17408b;
  width: 236px;
  height: 180px;
  position: absolute;
}

.purple {
  background: rgb(86, 1, 134);
}

.orange {
  background-color: rgb(87, 57, 1);
}

.player-down {
  position: absolute;
  background: #17408b;
  opacity: 0.5;
  width: 236px;
  height: 150px;
  bottom: 0;
}

.purple-down {
  background: rgb(86, 1, 134);
}

.orange-down {
  background-color: rgb(87, 57, 1);
}

.harden-team {
  position: absolute;
  width: 150px;
  left: 0;
  opacity: 0.5;
}

.player-number {
  position: absolute;
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.5;
  right: 10px;
  top: 10px;
}

.headline {
  font-size: 36px;
  color: #17408b;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

.full-name {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.position,
.team-player {
  font-size: 16px;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.stats,
.position,
.team-player,
.full-name {
  z-index: 10;
}

.rebounds {
  padding: 0 15px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.image-player {
  height: 180px;
  z-index: 10;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
}

.orange-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffa500;
}

.blue-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #17408b;
}

/* end players */

/* teams */

.teams {
  height: 850px;
  background: linear-gradient(to right, #c9082a 50%, #17408b 50%);
}
.teams-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.right {
  width: 512px;
  height: 960px;
}

.left {
  width: 512px;
  height: 960px;
}

.conf {
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

.team-logo {
  width: 100px;
}

.rockets {
  filter: contrast(0%);
}

/* end teams */

/* standings */

.sub-standings {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  background-color: #c9082a;
}

table {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.top-tab {
  border: none;
}

tr {
  border-top: 1px solid #17408b;
}

td {
  padding: 10px 0 15px 0;
  font-weight: bold;
  align-items: center;
}

.tab-photo {
  margin-bottom: -15px;
  width: 40px;
}

.two-tab {
  margin-top: 40px;
  background-color: #17408b;
}
/* end standings */

/* shop */

.prd-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.product-photo-one,
.product-photo-three {
  width: 300px;
}

.product-photo-two {
  width: 200px;
}

.product-text {
  font-size: 20px;
  font-weight: bold;
}

.shop-btn {
  font-weight: bold;
  text-decoration: none;
  color: #17408b;
  padding: 10px 25px;
  border: 2px solid #17408b;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.shop-btn:hover {
  background-color: #17408b;
  color: #ffffff;
}

.last-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* shop end */

footer {
  height: 100px;
  background: #17408b;
  display: flex;
  align-items: center;
}

.foot-org {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot-photo {
  width: 35px;
}

.organization,
.socials {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.sub-org {
  max-width: 270px;
  font-size: 14px;
  color: #ffffff;
}

.foot-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.org-text,
.foot-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.fa-brands {
  font-size: 28px;
  color: #ffffff;
}
